---
import Layout from "../layouts/BlogPost.astro";
import { BASE } from "../consts";
---

<Layout
  title="About MirrorSoul"
  description="MirrorSoul is a post-apocalyptic zombie shooter with survival and RPG elements."
  pubDate={new Date("July 29 2024")}
  heroImage=` `
>
  <p>
    MirrorSoul is a post-apocalyptic zombie shooter with survival and RPG
    elements.
  </p>
  <h2>THE BIG IDEA</h2>
  <p>
    In the world of a post-apocalyptic future, which was the result of an
    inaccurate prediction of the Mayan peoples, changes are taking place: the
    threat to human survival and evolution becomes paramount. The planet has
    changed to such an extent that the usual life has sunk into oblivion. The
    result of the changes is the relocation of people into autonomous bunkers
    and underground cities with an uneven distribution of resources and
    opportunities.
  </p>

  <p>
    Inequality has emerged between the rich and poor bunkers, causing some
    survivors to live in abundance while others are on the brink of survival. By
    that time, scientists had invented futuristic laboratories and placed them
    in shelters to conduct experiments on zombies/humans, one of which was
    genome modification. These bunkers affected the ecology of the planet.
    Pollution by CO2 and human waste has become a key problem of the era. A
    whole layer of people consider salvation in the form of a bunker to be the
    best vision of the future, but this puts a castle for a normal life on the
    surface.
  </p>

  <p>
    The population of the bunkers, the moles, find it difficult to give up their
    habits and sacrifice their lives for a better future: not everyone believes
    that the bunker is the right outcome, and life on the surface is dangerous.
    Some residents decided to organize their own island of life with an
    alternative society on the surface of the planet according to their own laws
    and rules, vaguely reminiscent of life before the disaster. No one else saw
    such daredevils in the bunker, and the connection was completely broken.
    Such people were assigned the status “dead” in their personal cards.
    Differences in views about the future are what separate some survivors from
    others. The worldview of the old generation leaves its mark on the decisions
    of the current one. Even the works of Darwin proved that insufficiently
    adapted species subsequently died out, and therefore fewer and fewer people
    were eager to get to the surface. People increasingly firmly believe that a
    military detachment of “exterminators” will clear the territory of the
    threat, and the virus will be defeated by medical teams of researchers and
    bioengineers. The main character also believes in this truth, but intends to
    become the one who, with his own hands, will bring peace to the hearts of
    people.
  </p>
</Layout>
